grid {
    display: grid;
    grid-template-areas:
        "b c d"
        "t t t "
        "t t t "
        "t t t "
        "t t t "
        "t t t " ;  
  }

    .trans {
        grid-area: t;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: space-around;
        justify-content: flex-end;
        align-items: center;
    }

  .bugTitle{
    text-decoration: none;
    font-size: 30px;
    color: white;
  }
  
  .Nav {
    display: flex;
    /* display: grid; */
    grid-gap: 1em;
    align-items: center;
    text-align: center;
    border-bottom: 4px solid black;
    background: red;
    font-size: 20px;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
}

  
  .navLinks {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2em;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
  }
  
  .navLinks:hover {
    color: white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    padding: 1em 1em;
  }
  
  #twist {
    color: Orange;
  }